env/*
env/
utils/transcripts_download/corpus/*
utils/transcripts_download/raw_corpus/*
notebooks/.ipynb_checkpoints/*
utils/raw_data_processing/processed_corpus/processed_data.csv
.vscode/*
utils/download_files/__pycache__/*
utils/download_files/downloads/*
utils/download_files/download_glove.py
downloads/*
utils/transcripts_download/__pycache__/download_transcripts.cpython-38.pyc
data/.keep
data/*
preprocessing/build_corpus.py
preprocessing/__pycache__/embeddings.cpython-38.pyc
notebooks/testing.ipynb
